.taskcreate{
    display: flex;
    flex-direction: column;
    width:25%;
    margin: auto;
}
h2{
    text-align: center;
}

input{
  border: 1px solid;
  border-radius:8px 8px 8px 8px;
}

.baslik{
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: large;
}
.baslik-input{
font-size:25px;

}

.olustur{
    border: 1px solid;
    border-radius:8px 8px 8px 8px;
    font-size: medium;
    padding-top: 8px;
    padding-bottom: 8px;
    color:white;
    background-color: green;
    margin-top: 5px;
}
.olustur-input{
    border: 1px solid;
  border-radius:8px 8px 8px 8px;
}

.task-show{
    border:1px solid green;
    border-radius: 30px;
    width:350px;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
}
.task-list{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.sil{
  padding: 5px;
  font-size:15px;
  width :50px;
  border:none;
  border-radius: 30px;
  background-color: red;
  color:white;
  margin-right:10px;
}
.guncelle{
    padding: 5px;
    font-size:15px;
    width :100px;
    border:none;
    border-radius: 30px;
    background-color: blue;
    color:white;
    margin-right:10px;
}
.basliklar{
    margin-bottom: 5px;
}